.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: calc(100vh - 100px); /* Altezza totale meno header e footer */
  background-color: #f9f9f9; /* Colore di sfondo leggero */
}

/* Stile delle notifiche */
.notification-container {
  display: flex;
  flex-wrap: wrap; /* Per posizionare i blocchi su più righe se necessario */
  gap: 20px; /* Spazio tra le notifiche */
  justify-content: center; /* Centrare i blocchi */
}

.notification {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Ombreggiatura */
  padding: 15px;
  border: 1px solid #ddd; /* Bordo leggero */
  font-size: 1rem;
  color: #333;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effetti di transizione */
}
.notification:hover {
  transform: translateY(-10px) scale(1.05); /* Solleva e ingrandisce il blocco */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombreggiatura più pronunciata */
  cursor: pointer;
}
/* Stile per layout vuoto */
.empty-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Due colonne */
  gap: 20px; /* Spazio tra i blocchi */
  align-items: center;
  justify-items: center;
  height: 100%; /* Occupa tutto lo spazio disponibile */
}

.placeholder {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.1rem;
  color: #666;
}

@media (max-width: 768px) {
  .notification-container {
    grid-template-columns: 1fr; /* Una colonna sui dispositivi mobili */
  }

  .empty-content {
    grid-template-columns: 1fr; /* I placeholder si dispongono in una sola colonna */
  }
}

@media (max-width: 480px) {
  .placeholder,
  .notification {
    font-size: 0.9rem; /* Riduci leggermente la dimensione del testo */
    padding: 10px; /* Riduci il padding */
  }
}
